<div class="m-5 text-center card" >
  <h1>Tabla de productos</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Minuatura</th>
      </tr>
    </thead>
    <tbody>
      {{#if productos}}
      {{#each productos}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td><img width="50px" height= "50px" src={{this.thumbnail}} /></td>
      </tr>
      {{/each}}
      {{/if}}
    </tbody>
  </table>
  <a href="/"><button class="btn btn-primary">Ingreso de productos</button></a>

</div>