<div class="card m-5" style="display: flex;flex-direction: column;align-items: center;justify-content: space-evenly;height:350px">
<h3>Ingreso de productos</h3>
    <div style="display: flex;justify-content: center;margin-top:20px">
        <div>
            <form action="/api/productos" method="post">
                <input type="text" name="title" placeholder="titulo">
    
                <input type="number" name="price" placeholder="precio">
                <input type="link" name="thumbnail" placeholder="url">
                <button class="btn btn-info"type="submit">Agregar registro</button>
            </form>
        </div>
    </div> 
    
    <a href="/productos"><button class="btn btn-primary">Formulario de Productos</button></a>
</div>