     <a href="/loginEmail">
     <button style="margin: 15px;">login</button>
     </a>
<div style="    text-align: center;
    width: 800px;
    /* height: 400px; */
    background-color: tomato;
    margin-left: 25vw;">
    <h2>
        Registro de Usuario
    </h2>
    <form action="/register" style="    display: flex;
    flex-direction: column;
    align-items: center;">
    
        <label style="margin:5px;" for="email">Email
            <input style="margin:5px;" type="email" name="email"  required>
        </label>
        <label style="margin:5px;" for="password">Password
            <input style="margin:5px;" type="password" name="password" required>
        </label>
        <label style="margin:5px;" for="name">Nombre
            <input style="margin:5px;" type="text" name="name"  required>
        </label>
        <label style="margin:5px;" for="adress">Dirección
            <input style="margin:5px;" type="text" name="adress"  required>
        </label>
        <label style="margin:5px;"  for="age">Edad
            <input style="margin:5px;" type="number" name="age" required>
        </label>
        <label style="margin:5px;" for="phone">Telefono
            <input style="margin:5px;" type="tel" name="phone" pattern="[0-9]{2}-[0-9]{4}-[0-9]{7}"  placeholder="54-0351-8822318" required>
        </label>
        <label style="margin:5px;" for="photo">Foto/Avatar
            <input style="margin:5px;" type="text" name="photo" required>
        </label>

        <button type="submit" style="margin: 15px;">Registrar </button>
     </form>
</div>