     <a href="/loginEmail">
     <button style="margin: 15px;">login</button>
     </a>
<div style="    text-align: center;
    width: 800px;
    /* height: 400px; */
    background-color: tomato;
    margin-left: 25vw;">
    <h2>
        Registro de Usuario
    </h2>
    <form action="/register" style="    display: flex;
    flex-direction: column;
    align-items: center; ">
        <label for="email">Email</label>
        <input type="email" name="email"  required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <label for="name">Nombre</label>
        <input type="text" name="name"  required>
        <label for="adress">Dirección</label>
        <input type="text" name="adress"  required>
        <label for="age">Edad</label>
        <input type="number" name="age" required>
        <label for="phone">Telefono</label>
        <input type="tel" name="phone" required>
        <label for="photo">Foto/Avatar</label>
        <input type="text" name="photo" required>

        <button type="submit" style="margin: 15px;">Registrar </button>
     </form>
</div>