.chat__msg{
    background-color: rgb(141, 224, 74);
    margin:5px;
    border-radius: 5px;
    width: auto;
    align-self: flex-end;
    /* text-align: center; */
}

.chat__msg__own{
    background-color: rgb(248, 146, 30);
    margin:5px;
    border-radius: 5px;
    width: auto;
    align-self: flex-start;
    /* text-align: center; */
}